main {
    // display: flex;
    // flex-direction: column;
    display: inline-flex;
    height: 100%;
    min-width: 100%;
}
.board-details {
    // position: relative;
    // background-color: #659dbd;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // overflow-y: hidden;

    display: inline-flex;
    height: 100%;
    box-sizing: border-box;
    padding: 85px 5px 8px;
    
    background-color: #659dbd;
    .board-header {
        display: flex;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.32);
        height: 40px;
        margin-bottom: 4px;
    }
    // rgba(9, 32, 72, 0.173);
    .list-container {
        // flex-grow: 1;
        // display: flex;
        // white-space: nowrap;
        // margin-bottom: 8px;
        // padding-bottom: 8px;
        // overflow-x: auto;
        // overflow-y: hidden;
        display: inline-flex;
        align-items: flex-start;
        height: 100%;
        user-select: none;
    }
}
