.cover {
    background-color: rgba(0, 0, 0, 0.64);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}
.task-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-y: auto;
}
.task-details {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.task-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 768px;
    z-index: 25;
    border-radius: 2px;
    background-color: #f4f5f7;
    margin: 48px 0 48px 0;
    min-height: 600px;
    /* height: 100%; */
}
.modal-header {
    height: auto;
    min-height: 116px;
    padding: 0px;
    position: relative;
    background-size: contain;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    height: 160px;
    min-height: 160px;
    padding: 0px;
    .modal-btn {
        background-color: hsla(0, 0%, 100%, 0.4);
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 8px;
        width: 70px;
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.55);
        }
    }
    .pop-up {
        top: 100%;
        right: 0.5rem;
    }
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    padding: 7px;
    margin: 4px;
    width: 38px;
    height: 38px;
    transition: background-color 85ms, color 85ms;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.16);
    }
}

.task-content {
    display: flex;
    flex: 1;
}
.modal-module {
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
}

.task-title {
    font-size: rem(20px);
    font-size: 20px;
    font-weight: 600;
    margin: 12px 60px 8px 64px;
    min-height: 32px;
    position: relative;
    z-index: 1;
    .focusClass {
        height: 32px;
    }
}
.task-item-title {
    text-transform: uppercase;
    margin: 0 8px 4px 0;
    font-weight: 500;
    font-size: rem(12px);
}
.left-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 16px;
    .task-labels-date {
        display: flex;
        flex-wrap: wrap;

        .task-labels {
            position: relative;
            .task-labels-list {
                margin-right: 5px;
                display: flex;
                .label {
                    height: 32px;
                }
            }
        }
        .task-due-date {
            margin: 0 0 0 6px;
            .modal-btn {
                display: flex;
                align-items: center;
                margin: 0;
                width: unset;
                height: unset;
                max-width: 300px;
                padding: 6px 0 6px 12px;
                label {
                    margin-right: 10px;
                }
                .icon-lg {
                    vertical-align: middle;
                    margin: 0 4px;
                }
            }
            .task-badge {
                font-size: rem(12px);
                margin-left: 4px;
                padding: 2px 4px;
                text-transform: uppercase;
            }
        }
        .pop-up {
            position: absolute;
            top: unset;
            right: unset;
        }
    }
    .task-description {
        display: flex;
        flex-direction: column;
        .module-text {
            &.placeholder {
                background-color: rgba(9, 30, 66, 0.04);
                border-radius: 3px;
                min-height: 60px;
                padding: 8px 12px;
            }
        }
    }
}

.right-side {
    padding: 0 16px 8px 8px;
    text-align: center;
    height: 100%;
    h3 {
        color: $main-font-clr2;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }
    .modal-sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        .modal-btn {
            width: 160px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .task-modal {
        margin: 36px 8px;
    }
    .pop-up {
        position: absolute;
    }
    .task-content {
        width: 100%;
        flex-direction: column;
        .left-side {
            flex: none;
        }
        .modal-sidebar {
            align-items: center;
        }
    }
}
