@font-face {
  font-family: Lato;
  src: url(~assets/fonts/Lato/Lato-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: LatoBold;
  src: url(~assets/fonts/Lato/Lato-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Lobster;
  src: url(~assets/fonts/Lobster/Lobster-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(~assets/fonts/Raleway/Raleway-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: SourceSans;
  src: url(~assets/fonts/SourceSans/SourceSansPro-Regular.ttf);
  font-display: swap;
}
