$clr1: #2c3e50;
$clr2: #191d34;
$clr3: #002d5b;
$clr4: #ff656a;
$bgc1: #f4f5f7;

// buttons colors
$btn1-clr: rgba(9, 30, 66, 0.04);
$btn1-hover-clr: rgba(9, 30, 66, 0.08);
$submit-bgc: #5aac44;
