
.list-wrapper {
    // height: 100%;
    // width: 272px;
    // flex-shrink: 0;
    // margin: 4px;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    .modal-btn {
        margin-top: 0;
        background-color: hsla(0, 0%, 100%, 0.24);
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.42);
        }
    }
}

.list {
    // display: flex;
    // flex-direction: column;
    // max-height: 100%;
    // white-space: nowrap;
    background-color: $bgc-grey;
    border-radius: 3px;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    min-height: 0px; // fix flexbox browser incostiency
    max-height: 100%;
    margin: 0 5px 0 5px;
    border-radius: 3px;
    font-size: 14px;
    transition: box-shadow 0.15s, background 0.3s;

    .list-header {
        flex: 0 0 0;
        width: 100%;
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        .list-menu-btn {
            color: #6b778c;
            padding: 6px;
            border-radius: 3px;
            &:hover {
                color: #172b4d;
                background-color: rgba(9, 30, 66, 0.08);
            }
        }
        h3 {
            font-weight: 600;
            font-size: rem(14px);
        }
    }
    .list-content {
        background-color: #ebecf0;
        min-height: 20px;
        margin: 0 4px;
        padding: 0 4px;
    }
    .list-footer-btn {
        display: flex;
        align-items: center;
        border-radius: 3px;
        color: $main-font-clr2;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        // position: relative;
        width: 200px;
        .add-icon {
            line-height: 1px;
            margin-right: 5px;
        }
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            color: #172b4d;
        }
        &:active {
            background-color: rgba(9, 30, 66, 0.13);
        }
    }
}

.list {
    &.add-list {
        align-items: flex-start;
        padding: 8px;
        .add-list-controls {
            display: flex;
            align-items: flex-end;
            .icon-lg {
                color: $main-font-clr2;
            }
        }
    }
}

.add-card-wrapper {
    // padding: 6px 8px 2px;
    .text-editor-wrapper {
        background-color: #fff;
        margin-bottom: 8px;
        border-radius: 3px;
        .focusClass {
            min-height: 54px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        }
    }
    .add-card-controls {
        display: flex;
        align-items: flex-end;
        padding-bottom: 8px;
        .icon-lg {
            line-height: 1;
            margin-left: 5px;
        }
    }
}



.custom-scrollbar {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
        // border-radius: 20px;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: rgba(9, 30, 66, 0.08);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(9, 32, 72, 0.173);
        border-radius: 10px;
        &:hover {
            background-color: rgba(5, 18, 41, 0.358);
        }
    }
}
