.spacer {
    flex: 1;
}

.checklist-item {
    &:hover {
        background-color: rgba(9, 30, 66, 0.04);
        cursor: pointer;
    }

    .checklist-item-edit {
        display: flex;
        // align-items: center;
        .remove-item-btn {
            display: none;
        }
        &:hover {
            .remove-item-btn {
                display: block;
                margin-right: 10px;
            }
        }
        &.done {
            .module-text {
                text-decoration: line-through;
            }
        }
    }
}
