.demo-board {
    display: flex;
    flex-direction: column;
    background-color: #3a80de;
    padding: 20px 16px 16px 16px;
    border-radius: 6px;
    min-width: 660px;
    .board-title {
        background-color: #4494ff;
        align-self: flex-start;
        border-radius: 6px;
        padding: 4px 10px;
        margin-bottom: 1rem;
        h3 {
            font-size: rem(24px);
        }
    }
    .lists {
        display: flex;
        .list {
            width: 230px;
        }
    }
    .list-header {
        font-size: rem(16px);
    }
    .label {
        border-radius: 3.5px;
        height: 7px;
        margin: 5px 0;
        width: 30px;
    }
    .list-footer {
        padding: 6px 12px;
        color: #aaa;
        // font-size: rem(16px);
    }
}
