.task-preview {
    // display: flex;
    // flex-direction: column;
    margin: 0 4px;
    padding: 0 4px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    .task-preview-content {
        padding: 6px 8px 2px;
        .task-preview-title {
            overflow: hidden;
            overflow-wrap: break-word;
            white-space: normal;
            margin: 0 0 4px;
        }
    }
}
